.button{
    padding:12px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &--primary{
        background-color: #4F2AC3;
    }

    @media (max-width: 640px){
        display: block;
        width: 100%;
        
    }

}